<a href="https://colab.research.google.com/github/usman-khan-0/gittutorial/blob/main/tuples_dict_sets_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_tuple = (1, 2, 2, 3)
print(my_tuple)
print(my_tuple.count(2))

(1, 2, 2, 3)
2

In [ ]:
my_2nd_typle = (5, 2, 3, 1, 4, 6)
print(my_2nd_typle)

(5, 2, 3, 1, 4, 6)

In [ ]:
dictionary = {2 : "value1", 1 : "value2"}
print(dictionary)

{2: 'value1', 1: 'value2'}

In [ ]:
def simple_generator():
    yield 1
    yield 2
    yield 3

# Using the generator
for value in simple_generator():
    print(value)

1

In [ ]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

# Using the generator
for num in fibonacci(5):
    print(num)  # Output: 0, 1, 1, 2, 3 (one per line)

0
1
1
2
3

In [ ]:
fruits = ['apple', 'banana', 'grapes']
fruits.extend([['melon', 'mango', 'peach', 'watermelon']])
print(fruits)

['apple', 'banana', 'grapes', ['melon', 'mango', 'peach', 'watermelon']]

In [ ]:
flag = True
favfood = []
while flag:
  user_input = input("Enter your favourite food: ")
  if user_input == "quit":
    flag = False
  else:
    favfood.append(user_input)
print(favfood)

Enter your favourite food: Biryani
Enter your favourite food: Nehari
Enter your favourite food: Icecream
Enter your favourite food: quit
['Biryani', 'Nehari', 'Icecream']

In [ ]:
class Car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
    def decription_car(self):
        print(f"The make of car is {self.make}")
        print(f"The model of car is {self.model}")
        print(f"The year of car is {self.year}")
    def move1(self):
        print(f"{self.make} is moving with speed")
    def applying_break(self):
        print(f"{self.model} has applied the break")

In [ ]:
car1 = Car('toyota', 'corolla', 2015)
car2 = Car('suzuki', 'mehran', 2019)

In [ ]:
car1.decription_car()

The make of car is toyota
The model of car is corolla
The year of car is 2015

In [ ]:
car2.decription_car()
car2.applying_break()

The make of car is suzuki
The model of car is mehran
The year of car is 2019
mehran has applied the break

In [ ]:
car1.move1()

toyota is moving with speed

In [ ]:
class Car():
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.battery = '200 amp'
    def description_car(self):
        print(f"The make of car is {self.make}")
        print(f"The model of car is {self.model}")
        print(f"The year of car is {self.year}")
    def move1(self):
        print(f"{self.make} is moving with speed")
    def applying_break(self):
        print(f"{self.model} has applied the break")
    def get_battery(self):
        print(f"The battery of car is {self.battery}")


a = input("Enter the make of car: ")
b = input("Enter the model of car: ")
c = input("Enter the year of car: ")
car3 = Car(a, b, c)
car3.description_car()

Enter the make of car: Honda
Enter the model of car: Civic
Enter the year of car: 2025
The make of car is Honda
The model of car is Civic
The year of car is 2025

In [ ]:
car3.battery

'200 amp'

In [ ]:
import tensorflow as tf
print("Num GPUs Available: ", len(tf.config.experimental.list_physical_devices('GPU')))

Num GPUs Available:  1

In [10]:
def pizzaOrder(size, flavor, *toppings):
  print(f"your order for pizza of size {size}, and flavor {flavor}, with toppings {toppings}, is ready")

pizzaOrder(16, 'chiken tikka', 'olives', 'Fuits', 'abcd'*20, 'xyz'*10)

your order for pizza of size 16, and flavor chiken tikka, with toppings ('olives', 'Fuits', 'abcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcd', 'xyzxyzxyzxyzxyzxyzxyzxyzxyzxyz'), is ready

In [18]:
def add(val1, val2):
   ans = val1 + val2
   print("The answer is:", ans)
   return ans, "Hello Function"

result = add(5, 10)
print("The value in the result is: ", result)

The answer is: 15
The value in the result is:  (15, 'Hello Function')

In [21]:
def add(a, b):
  return a + b

def sub(b, a):
  return a - b

result = add(4, 5) + sub(7, 5)
print(f"The result is: {result}")

The result is: 7

In [24]:
def beHappy():
   name = "Mr.Usman Bey"
   print(f"{name} is very happy today")
beHappy()

Mr.Usman Bey is very happy today

In [25]:
anotherName = "Bala"

def sad():
  print(f"{anotherName} is very sad today")

sad()

Bala is very sad today

In [27]:
def commisionCal(sales):
  if sales > 100:
    return sales*100
  elif sales > 50:
    return sales*50
  elif sales > 20:
    return sales*20
  else:
    return 0

def salaryCal(basic, sales):
  grossSalary = basic + commisionCal(sales)
  print(f"Your grossSalary is {grossSalary}")

salaryCal(50000, 150)

Your grossSalary is 65000

In [28]:
for a in range(5):
  print("The Inner loop begins!!")
  for char in "China":
    print(f"The value a: {a}, and char: {char}")
  print("The inner loop ends!!")

The Inner loop begins!!
The value a: 0, and char: C
The value a: 0, and char: h
The value a: 0, and char: i
The value a: 0, and char: n
The value a: 0, and char: a
The inner loop ends!!
The Inner loop begins!!
The value a: 1, and char: C
The value a: 1, and char: h
The value a: 1, and char: i
The value a: 1, and char: n
The value a: 1, and char: a
The inner loop ends!!
The Inner loop begins!!
The value a: 2, and char: C
The value a: 2, and char: h
The value a: 2, and char: i
The value a: 2, and char: n
The value a: 2, and char: a
The inner loop ends!!
The Inner loop begins!!
The value a: 3, and char: C
The value a: 3, and char: h
The value a: 3, and char: i
The value a: 3, and char: n
The value a: 3, and char: a
The inner loop ends!!
The Inner loop begins!!
The value a: 4, and char: C
The value a: 4, and char: h
The value a: 4, and char: i
The value a: 4, and char: n
The value a: 4, and char: a
The inner loop ends!!

In [36]:
for a in range(2, 11):
  print(f"The table of {a} is: ")
  for b in range(1, 11):
    print(f"{a} x {b} = {a*b}")

The table of 2 is:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
The table of 3 is:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
The table of 4 is:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
The table of 5 is:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
The table of 6 is:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
The table of 7 is:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
The table of 8 is:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
The table of 9 is:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
The table of 10 is:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [39]:
tableNumber = int(input("Enter the table number: "))
for a in range(1, 11):
  print(f"{tableNumber} x {a} = {tableNumber*a}")

Enter the table number: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [42]:
table = int(input("Enter the table number: "))
for table in range(1, table+1):
  print(f"The table of {table} is: ")
  for a in range(1, 11):
    print(f"{table} x {a} = {table*a}")

Enter the table number: 9
The table of 1 is:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
The table of 2 is:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
The table of 3 is:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
The table of 4 is:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
The table of 5 is:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
The table of 6 is:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
The table of 7 is:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
The table of 8 is:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
The table of 9 is:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90